.backhead {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
}

@media screen and (max-width: 500px) {
    .backhead {
        justify-content: center;
    }
}

.item {
    transition-property: all !important;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
    font-size: 1rem;
    font-weight: 400;
}

@media (prefers-reduced-motion: reduce) {
    .item {
        transition-property: none !important;
        transition-duration: 0s !important;
    }
}

.center-x {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.enlarged-as-title {
    font-size: 3rem;
    font-weight: 800;
}
